@media only screen and (max-width: 1240px) {

	.row {
		padding: 0 2%;
	}

	.header-row-1 .col-1 {
	    width: 16%;
	}

	.header-row-1 .col-2 {
	    width: 61%;
	}

	.header-row-1 .col-3 {
	    width: 23%;
	}

	.logo {
	    font-size: 27px;
	    line-height: 27px;
	}

	.brands-list li {
	    padding: 2px 4px;
	}

}


@media only screen and (max-width: 1024px) {

	.header-row-1 .col-2 {
	    display: none;
	}

	.header-row-1 .col-1 {
	    width: 40%;
	}

	.header-row-1 .col-3 {
	    width: 60%;
	}



}


@media only screen and (max-width: 768px) {

	.main-nav-block  {
		display: block;
		width: 100%;
		height: 100vh;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		background: rgba(255, 255, 255, .9);
	}

	.main-nav {
		display: block;
	    justify-content: none;
	    text-align: center;
	    text-align-last: center;
	}

	.main-nav li {
		display: block;
		width: 100%;
	}

	.main-nav li a {
		display: block;
		width: 100%;
		padding: 10px 1%;
		text-align: center;
		font-weight: 700;
		background: rgba(255, 0, 0, 0);
	}

	.main-nav li a:link,
	.main-nav li a:visited {
	    font-weight: 700;
	    color: #030850;
	    background: rgba(255, 0, 0, 0);
	}

	.main-nav li a:active,
	.main-nav li a.active {
	    font-weight: 700;
	    color: #ffffff;
	    background: rgba(255, 0, 0, 1);
	}

	.main-nav li a:hover {
	    font-weight: 700;
	    color: #ffffff;
	    background: rgba(255, 0, 0, 1);
	}

	.main-nav li a:after {
		display: none;
	}


}



@media only screen and (max-width: 480px) {



}