@media only screen and (max-width: 1240px) {

	.row {
		padding: 0 2%;
	}

	.header-row-1 .col-1 {
	    width: 16%;
	}

	.header-row-1 .col-2 {
	    width: 61%;
	}

	.header-row-1 .col-3 {
	    width: 23%;
	}

	.logo {
	    font-size: 27px;
	    line-height: 27px;
	}

	.brands-list li {
	    padding: 2px 4px;
	}

	.slick-next {
    	right: 2%;
	}

	.slick-prev {
    	left: 2%;
	}

}


@media only screen and (max-width: 1024px) {

	.logo {
	    font-size: 24px;
	    line-height: 24px;
	}

	.header-row-1 .col-2 {
	    display: none;
	}

	.header-row-1 .col-1 {
	    width: 27%;
	}

	.header-row-1 .col-3 {
	    width: 73%;
	}

	.header-row-1 .col-3 p {
		display: inline-block;
		vertical-align: middle;
		padding-left: 10px;
	}

	.main-slider .slick-dots {
	    width: 100%;
	    position: absolute;
	    bottom: 14px;
	}

	h1 {
	    font-size: 49px;
	    line-height: 50px;
	}

	.slide-content p {
	    font-size: 27px;
	    line-height: 35px;
	    padding: 16px 0 15px 0;
	}

}


@media only screen and (max-width: 900px) {

	.thumb_4 {
	    width: 100%;
	    margin: 10px 0;
	}

	.thumbnails_4 .thumb_4:nth-child(odd) {
	    float: none;
	    padding-right: 0%;
	}

	.thumbnails_4 .thumb_4:nth-child(even) {
	    float: none;
	    padding-left: 0%;
	}

	.thumb_6 {
	    width: 50%;
	}

	.thumb_6 .img-box {
	    height: 325px;
	}

	.thumb_7 {
	    width: 50%;
	}

	.thumb_9 {
	    width: 50%;
	}

}


@media only screen and (max-width: 768px) {

	.header-site {
		display: block;
		width: 100%;
		background: rgba(255, 255, 255, 1);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 5;
	}

	.respmenubtn-box {
	    display: block;
	}

	.header-site .header-row-1 {
		position: relative;
		z-index: 4;
		-webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .3);
		-moz-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .3);
		box-shadow: 0 4px 3px 0 rgba(0, 0, 0, .3);
	}

	.header-row-1 .col-1 {
		width: 26%;
	    padding-top: 12px;
	}

	.header-row-1 .col-3 {
	    width: 65%;
	}

	.header-row-1 .col-3 p {
	    padding-left: 4px;
	}

	.respmenubtn-box {
		width: 9%;
	}

	.tel-p .tel-link {
	    margin: 0 0 0 4px;
	}

	.tel-link {
	    font-size: 15px;
	    line-height: 15px;
	}

	.tel-p i {
	    top: 4px;
	}

	.header-site .blue-pill {
	    padding: 9px 12px 7px 12px;
	    font-size: 11px;
	    line-height: 12px;
	}

	.main-nav-block  {
		/*display: block;*/
		display: none;
		width: 100%;
		height: 100vh;
		margin: 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 3;
		padding-top: 47px;
		padding-bottom: 20px;
		background: rgba(255, 255, 255, .9);
	}

	.main-nav {
		display: block;
	    justify-content: none;
	    text-align: center;
	    text-align-last: center;
	    margin: 20px 0;
	}

	.main-nav li {
		display: block;
		width: 100%;
	}

	.main-nav li a {
		display: block;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		font-weight: 700;
		background: rgba(255, 0, 0, 0);

		-webkit-transition-property: all;
		-webkit-transition-duration: .3s;
		-webkit-transition-timing-function: ease;

		-moz-transition-property: all;
		-moz-transition-duration: .3s;
		-moz-transition-timing-function: ease;

		-ms-transition-property: all;
		-ms-transition-duration: .3s;
		-ms-transition-timing-function: ease;

		-o-transition-property: all;
		-o-transition-duration: .3s;
		-o-transition-timing-function: ease;

		transition-property: all;
		transition-duration: .3s;
		transition-timing-function: ease;
	}

	.main-nav li a:link,
	.main-nav li a:visited {
	    font-weight: 700;
	    color: #030850;
	    background: rgba(255, 0, 0, 0);
	}

	.main-nav li a:active,
	.main-nav li a.active {
	    font-weight: 700;
	    color: #ffffff;
	    background: rgba(255, 0, 0, 1);
	}

	.main-nav li a:hover {
	    font-weight: 700;
	    color: #ffffff;
	    background: rgba(255, 0, 0, 1);
	}

	.main-nav li a:after {
		display: none;
	}

	h4 + .important {
	    margin: 20px 0 11px 0;
	}

	.two-cols-block .col {
	    width: 100%;
	}

	.two-cols-block .col:nth-child(odd) {
	    padding-right: 0%;
	}

	.two-cols-block .col:nth-child(even) {
	    padding-left: 0%;
	}

	.two-cols-block-2 .col-1 {
	    width: 100%;
	    padding-right: 0%;
	}

	.two-cols-block-2 .col-2 {
	    width: 100%;
	    padding-left: 0%;
	}

	.two-cols-block-2 .col-2 .photo-thumb:nth-child(odd) {
		width: 50%;
		float: left;
		padding-right: 2%;
	}

	.two-cols-block-2 .col-2 .photo-thumb:nth-child(even) {
		width: 50%;
		float: right;
		padding-left: 2%;
	}

	.form-block {
	    margin: 10px auto 0 auto;
	}

	.contacts-block h4 {
	    padding: 15px 0 10px 0;
	}

	.form-block .col {
	    width: 100%;
	    padding: 0;
	}

	.article img {
	    max-width: 44%;
	}

	.thumb-1 {
	    width: 100%;
	    float: none;
	}

	.thumbnails .thumb-1:nth-child(odd) {
	    padding-right: 0;
	    margin-top: 15px;
	}

	.thumbnails .thumb-1:nth-child(even) {
	    padding-left: 0;
	    margin-top: 15px;
	}

	.thumbnail_2 {
	    width: 50%;
	}

	.thumbnails_3 .col {
	    width: 100%;
	}

	.thumbnails_3 .col:nth-child(odd) {
	    padding-right: 0;
	    padding-left: 0;
	}

	.thumbnails_3 .col:nth-child(even) {
	    padding-left: 0;
	    padding-right: 0;
	}

	.article_4:nth-child(odd) img {
	    width: 100%;
	    max-width: 400px;
	    float: none;
	    margin: 0 0 24px 0;
	}

	.article_4:nth-child(even) img {
	    width: 100%;
	    max-width: 400px;
	    float: none;
	    margin: 0 0 24px 0;
	}

	.thub_5 .img-box {
	    height: 249px;
	}

	.thub_5 p {
	    font-size: 22px;
	    line-height: 25px;
	}

	.thumb_8 {
	    width: 50%;
	}

/*	.article-6 img {
		width: 100%;
	}*/

	.footer-row-1 {
		display: none;
	}

}


@media only screen and (max-width: 600px) {

	.header-row-1 .col-1 {
	    width: 39%;
	}

	.header-row-1 .col-3 {
	    width: 44%;
	}

	.respmenubtn-box {
	    width: 17%;
	}

	.header-site .blue-pill {
		font-size: 0;
		line-height: 0;
		text-align: center;
	}

	.header-site .blue-pill i {
		margin: 0 auto;
	}

	.tel-p i {
	    display: none;
	}

	.slide-content {
	    padding: 11px 0 26px 0;
	}

	h1 {
	    font-size: 36px;
	    line-height: 40px;
	}

	.main-slider-arrows {
	    top: 93%;
	}

	.main-slider .slick-dots {
	    width: 64%;
	    left: 18%;
	}

	.slick-dots li {
	    padding: 10px 14px;
	}

	.slide-content p {
	    font-size: 24px;
	    line-height: 32px;
	}

	.blue-h {
	    margin: 10px 0;
	}

	.brand-th {
		width: 50%;
	    margin: 26px 0 33px 0;
	}

	.brand-th .img-box {
	    height: 95px;
	}

	.article img {
		display: block;
		float: none;
	    max-width: 70%;
	    max-height: 300px;
	}

	.thumbnail_2 {
	    width: 100%;
	    margin-top: 15px;
	    padding-bottom: 20px;
	    border-bottom: 1px solid #dedede;
	}

	.thumbnail_2:last-child {
		padding-bottom: 0;
	    border-bottom: none;
	}

	.article_3 .col {
	    width: 100%;
	}

	.article_3 .col:nth-child(odd) {
	    padding-right: 0;
	}

	.article_3 .col:nth-child(even) {
	    padding-left: 0;
	}

	.thumbnails_5 {
	    margin: 10px 0;
	}

	.thub_5 {
	    display: block;
	    width: 100%;
	}

	.thub_5:nth-child(odd) {
	    float: none;
	    padding: 13px 0;
	}

	.thub_5:nth-child(even) {
	    float: none;
	    padding: 13px 0;
	}

	.thumb_6 {
	    width: 100%;
	}

	.thumb_6 .img-box {
	    height: 300px;
	}

	.thumb_7 {
	    width: 100%;
	}

	.thumb_7 .img-box {
	    height: 300px;
	}

	.thumbnails_9 {
	    width: 100%;
	    margin: 0;
	}

	.thumb_9 {
	    width: 100%;
	    padding: 0;
	}

	.article-6 img {
		float: none;
		margin-left: 0;
	}

}


@media only screen and (max-width: 480px) {

	h1 {
	    font-size: 33px;
	    line-height: 39px;
	}

	h4 {
	    font-size: 18px;
	    line-height: 23px;
	}

	.header-row-1 .col-1 {
		width: 50%;
	}

	.header-row-1 .col-3 {
		width: 30%;
	}

	.respmenubtn-box {
		width: 20%;
	}

	p.tel-p {
	    display: none !important;
	}

	.brand-th {
		display: block;
	    width: 90%;
	    margin: 26px auto 33px auto;
	    padding: 0;
	}

	.two-cols-block-2 .col-2 .photo-thumb:nth-child(odd) {
		width: 100%;
		float: none;
		padding-right: 0;
	}

	.two-cols-block-2 .col-2 .photo-thumb:nth-child(even) {
		width: 100%;
		float: none;
		padding-left: 0;
	}

	.video-block iframe {
	    height: 296px;
	}

	.article img {
		display: block;
		float: none;
	    max-width: 86%;
	    max-height: 300px;
	}

	.video-block-small iframe {
	    height: 263px;
	}

	.thumbnails_8 {
	    width: 100%;
	    margin: 0;
	}

	.thumb_8 {
	    width: 100%;
	}

	.footer-row-2 {
	    padding: 10px 0 8px 0;
	}

	.footer-row-2 .col {
	    width: 100%;
	    text-align: center;
	}

	.soc-list {
		margin: 15px 0;
	}

	.soc-list li {
	    display: inline-block;
	    vertical-align: middle;
	    padding: 10px 20px;
	}

}

@media only screen and (min-width: 769px) {

	.main-nav-block {
		display: block !important;
	}

}